/* Estilo para el contenedor principal */
.container {
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-family: Arial, sans-serif;
}

/* Estilo para el card */
.card {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 40px 8px rgba(0, 0, 0, 0.1);
    width: 530px;
    margin: 0 auto;
    background: radial-gradient(rgb(194, 169, 169), rgb(116, 150, 243));
}

/* Ajustes para tablets (768px a 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .card {
        width: 80%;
        margin-top: 0;
    }

    .input-group,
    .form-select,
    .btn {
        margin-top: 20px;
    }
}

/* Ajustes para móviles (menos de 768px) */
@media (max-width: 768px) {
    .card {
        width: 100%;
        margin: 20px 0;
    }

    .input-group,
    .form-select,
    .btn {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }

    .input-group-text,
    .form-control,
    .btn {
        font-size: 16px;
    }
}

/* Ajustes para los elementos internos */
.input-group,
.form-select,
.btn {
    margin-top: 30px;
}

/* Estilos para botones y entradas */
.input-group-text,
.form-control,
.form-select,
.btn {
    height: 50px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #222b5a;
}