.navbar {
    padding: 10px 15px;
    /* Añadir espacio interno al navbar */
}

.navbar-brand img {
    max-width: 40px;
    /* Limitar el tamaño máximo del logo */
    height: auto;
    /* Mantener la proporción */
}

.navbar-nav .nav-link {
    padding: 10px 15px;
    /* Añadir espacio interno a los enlaces del navbar */
}

.form-inline .form-control {
    width: 200px;
    /* Ajustar el ancho del campo de búsqueda */
}